/*-----------------------------------------------------------------------------
 * CSS File containing reusable styles for the website
 *---------------------------------------------------------------------------*/

/* make html fill the entire page */
html {
    width: 100%;
    height: 100%;
}

/* make body fill the entire page */
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* center the header */
header {
    text-align: center;
}

/* font definition */
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf");
    font-weight: bold;
}

button {
    cursor: pointer;
}