body {
    background-image: url(../images/wood_background.jpg);
    background-repeat: repeat;
    
    display: flex;
    flex-direction: column;
}

form {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

select, input {
    font-family: "Raleway";
    font-size: 3vmin;
    padding: 0.5rem;
}

label {
    padding-right: 1em;
    flex-grow: 1;
}

#settings-header {
    font-family: "Raleway";
    font-size: 7vmin;
    height: 10vmin;
}

#settings-container {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.bordered {
    text-align: left;
    
    font-size: 3vmin;
    font-family: "Raleway";
    color: white;
    
    box-sizing: border-box;
    padding: 2vmin 4vmin;
    margin: 1vmin;
    
    border-radius: 1.5vmin;
    box-shadow: 0rem 0rem 1rem 0.2rem black;
    border: 1px solid darkslategrey;
    
    background-image: url(../images/border.jpg);
    background-repeat: repeat;
}